
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.html {
    font-family: "Lucida Sans", sans-serif;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



a {
    color: white;
    text-decoration: none;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
    background-color: indianred;
}

/* Style dla body w pierwszym stanie */
body.style1 .aside {
    background-color: slategray;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

body.style1 .footer {
    background-color: slategray;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

body.style1 {
    color: black;
    background-image: url("img_2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

}



body.style1 .header {
    background-color: indianred;
    color: whitesmoke;
    padding: 15px;
}

body.style1 .menu li {
    background-color: slategray;
}


/* Style dla body w drugim stanie */
body.style2 {
    color: black;
    background-image: url("img_4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
body.style2 .header {
    background-color: lawngreen;
    color: whitesmoke;
    padding: 15px;
}

body.style2 .menu li {
    background-color: lightgreen;

}

body.style2 .aside {
    background-color: slategray;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.aside img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

body.style2 .reklama {
    max-width: 100%;
    max-height: 100%;
    background-image: url("img.png");
}

body.style2 .reklama img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

body.style2 .header {
    background-color: lightgreen;
    color: black;
    padding: 15px;
    font-family: "Lucida Sans", sans-serif;
}

body.style2 .historia{
    color: lightgreen;
    padding: 15px;
    font-family: "Lucida Sans", sans-serif;

}

body.style2 .kierowcy{
    color: lightgreen;
    padding: 15px;
    font-family: "Lucida Sans", sans-serif;

}

body.style2 .wyscigi{
    color: lightgreen;
    padding: 15px;
    font-family: "Lucida Sans", sans-serif;

}

body.style2 .zespoly{
    color: lightgreen;
    padding: 15px;
    font-family: "Lucida Sans", sans-serif;

}

body.style2 .mc{
    color: orange;
    padding: 15px;
    font-family: "Lucida Sans", sans-serif;

}

body.style2 .merc{
    color: cornflowerblue;
    padding: 15px;
    font-family: "Lucida Sans", sans-serif;

}

body.style2 .ferrari{
    color: red;
    padding: 15px;
    font-family: "Lucida Sans", sans-serif;

}

body.style2 .hist{
    color: lightgreen;
    padding: 15px;
    font-family: "Lucida Sans", sans-serif;

}
body.style2 .footer {
    background-color: lightgreen;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


