* {
    box-sizing: border-box;
}

h1 {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
    display: block;
}

.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#myInput {
    width: 40%;
    padding: 10px;
    font-size: 16px;
}

#myDate {
    width: 30%;
    padding: 10px;
    font-size: 16px;
}

.addBtn {
    width: 30%;
    padding: 10px;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}

.wyszukiwarka {
    position: absolute;
    top: 30px;
    right: 10px;
    width: 25%;
    background-color: #f44336;
    padding: 10px;
    text-align: right;
}

.wyszukiwarka input {
    width: 80%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.edit {
    position: absolute;
    right: 40px;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.edit:hover {
    background-color: cornflowerblue;
    color: white;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}
